* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navBar-custom {
  background-color: rgba(0, 0, 0, 0.1725490196) !important;
}

.ImgWidthNav {
  width: 245px;
}

.text-link {
  font-weight: 700;
  color: #fff;
  font-size: 12px;
}
.text-link:hover {
  color: #e2e2e2;
}

.defaultConteiner01, .customConteiner4, .customConteiner3, .customConteiner2, .customConteiner1, .customConteinerCarrosel6, .customConteinerCarrosel5, .customConteinerCarrosel4, .customConteinerCarrosel3, .customConteinerCarrosel2, .customConteinerCarrosel1, .customConteinerCarrossel, .customConteiner13, .customConteiner11 {
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.defaultConteiner02, .customConteinerCarrosel7 {
  background-size: cover;
  background-position: center;
  height: 80vh;
}

.btnCustomLink {
  border: 2px solid white;
  padding: 15px 35px;
  margin-top: 3.5%;
}

footer {
  padding: 3.3%;
}

.footerRow {
  width: 500px;
}
.footerRow .otherTextsFooter, .footerRow .textOneBit-footer {
  padding: 0;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 12px;
}
.footerRow .otherTextsFooter:hover, .footerRow .textOneBit-footer:hover {
  color: #bbbbbb;
}
.footerRow .textOneBit-footer {
  color: #555252;
  margin: 0;
}
.footerRow .textOneBit-footer:hover {
  color: #555252;
}

.customConteiner11 {
  padding: 0;
  background-image: url(../../../public/images/falcon9/01.jpg);
}

.customConteiner12 {
  background-color: black;
  color: white;
  padding: 6% 0px;
}

.customConteiner13 {
  background-image: url(../../../public/images/falcon9/02.jpg);
}

.customConteinerCarrosel1 {
  background-image: url(../../../public/images/falcon9/03.jpg);
}

.customConteinerCarrosel2 {
  background-image: url(../../../public/images/falcon9/04.jpg);
}

.customConteinerCarrosel3 {
  background-image: url(../../../public/images/falcon9/05.jpg);
}

.customConteinerCarrosel4 {
  background-image: url(../../../public/images/falcon9/06.jpg);
}

.customConteinerCarrosel5 {
  background-image: url(../../../public/images/falcon9/07.jpg);
}

.customConteinerCarrosel6 {
  background-image: url(../../../public/images/falcon9/08.jpg);
}

.customConteinerCarrosel7 {
  background-color: black;
}

.titleText {
  font-size: 9vh;
  font-family: Rubik, sans-serif;
  font-weight: 600;
}

.marginTop-center {
  margin-top: 23%;
}

.txt1-conteinerCustom {
  font-size: 9vh;
}

.widthParagraph, .txt-paragraph-display {
  width: 45%;
}

.txt-paragraph-display {
  font-size: 2.3vh;
  line-height: 50px;
}

.tableCustom {
  width: 40%;
  height: auto;
  background: transparent !important;
}

.lineTable {
  border-bottom: 1px solid white;
  font-size: 16px;
}
.lineTable td {
  padding: 8px 8px;
}

.linkCustom {
  color: #d8d8d8;
  text-decoration: none;
}
.linkCustom:hover {
  filter: brightness(1.3);
}

@media (max-width: 768px) {
  .txt-paragraph-display {
    width: 85%;
  }
  .tableCustom {
    width: 70%;
    margin-left: 10%;
  }
}
.customConteiner1 {
  padding: 0;
  background-image: url(../../../public/images/home/01.jpg);
}

.customConteiner2 {
  background-image: url(../../../public/images/home/03.jpg);
}

.customConteiner3 {
  background-image: url(../../../public/images/home/02.gif);
}

.customConteiner4 {
  background-image: url(../../../public/images/home/04.jpg);
}

.marginTop-text {
  margin-top: 15%;
}

.paddingTop-text {
  padding-top: 12%;
}

.paddingTop-custom-text {
  padding-top: 18%;
}

.arrow {
  width: 8%;
  margin-top: 40px;
}

@media (max-width: 770px) {
  .arrow {
    width: 20%;
  }
  .paddingTop-custom-text {
    padding-top: 26%;
  }
}
@media (max-width: 370px) {
  .marginTop-text {
    margin-top: 40%;
  }
  .paddingTop-text {
    padding-top: 30%;
  }
  .paddingTop-custom-text {
    padding-top: 50%;
  }
  .ImgWidthNav {
    width: 180px;
  }
}

/*# sourceMappingURL=style.css.map */
